<form #updateForm="ngForm" *ngIf="user$ | async as data">
    <mat-card>
        <h1 mat-dialog-title>Edit User</h1>

        <mat-form-field appearance="fill">
            <label>First Name:</label>
            <input required matInput name="firstName" [(ngModel)]="data.firstName" placeholder="First name">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <label>Last Name:</label>
            <input required matInput name="lastName" [(ngModel)]="data.lastName" placeholder="Last name">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <label>Email Name:</label>
            <input required email matInput name="email" [(ngModel)]="data.email" placeholder="Email">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <label>Team Id:</label>
            <input matInput name="teamId" [(ngModel)]="data.teamId" placeholder="Team id">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Birthday date</mat-label>
            <input required matInput name="birthDay" [(ngModel)]="data.birthDay" [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <div mat-dialog-actions>
            <button mat-button (click)="onNoClick(updateForm)">No Thanks</button>
            <button [disabled]="!updateForm.valid" *ngIf="updateForm.valid" mat-button (click)="onSubmit(data)"
                cdkFocusInitial>Send</button>
        </div>
    </mat-card>
</form>