<div>
    <h1 *ngIf="project==null" mat-dialog-title>Create Project</h1>
    <h1 *ngIf="project!=null" mat-dialog-title>Edit Project</h1>
    <div mat-dialog-content>
        <mat-form-field appearance="fill">
            <label>Name:</label>
            <input required matInput [(ngModel)]="data.name" placeholder="Project name">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <label>Description:</label>
            <textarea required matInput [(ngModel)]="data.description" placeholder="Description"></textarea>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <label>Author Id:</label>
            <input required matInput [(ngModel)]="data.authorId" placeholder="Author id">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <label>Team Id:</label>
            <input required matInput [(ngModel)]="data.teamId" placeholder="Team id">
        </mat-form-field>
        <mat-form-field appearance="fill">

            <mat-label>Deadline date</mat-label>
            <input required matInput [(ngModel)]="data.deadline" [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">No Thanks</button>
        <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Send</button>
    </div>
</div>