<ng-template #loading>
    <div class="spinner">
        <mat-spinner></mat-spinner> <span>Users are loading...</span>
    </div>
</ng-template>

<table *ngIf="users$| async as usersItems; else loading" class='table table-striped' aria-labelledby="tableLabel">
    <thead>
        <tr>
            <th>Id</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Email</th>
            <th class="team">TeamId</th>
            <th>Register at</th>
            <th>Birthday</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of usersItems" [routerLink]="['update', user.id]">
            <td>{{user.id}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td class="team"><span>{{user.teamId | underfine:'No team was assigned'}}</span></td>
            <td>{{user.registeredAt | dateUA}}</td>
            <td>{{user.birthDay | dateUA}}</td>
        </tr>
    </tbody>
</table>