<ng-template #loading>
    <div class="spinner">
        <mat-spinner></mat-spinner> <span>Tasks are loading...</span>
    </div>
</ng-template>

<table *ngIf="tasks$| async as tasksItems; else loading" class='table table-striped' aria-labelledby="tableLabel">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>ProjectId</th>
            <th>PerformerId</th>
            <th>State</th>
            <th>Created date</th>
            <th>Finished date</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let task of tasksItems" [routerLink]="['update', task.id ]">
            <td>{{task.id}}</td>
            <td>{{task.name}}</td>
            <td>{{task.description}}</td>
            <td>{{task.projectId}}</td>
            <td>{{task.performerId}}</td>
            <td *ngIf="task.state == 2" appTaskFinished><span>{{task.state|taskState}}</span></td>
            <td *ngIf="task.state!=2">{{task.state|taskState}}</td>
            <td>{{task.createdAt | dateUA}}</td>
            <td>{{task?.finishedAt! | dateUA}}</td>
        </tr>
    </tbody>
</table>