<form #createForm="ngForm" (ngSubmit)="onSubmit(team)">
    <mat-card>
        <h1 mat-dialog-title>Create Team</h1>
        <mat-form-field appearance="fill">
            <label>Name:</label>
            <input required matInput [(ngModel)]="team.name" name="teamName" placeholder="Team name">
        </mat-form-field>

        <div mat-dialog-actions>
            <button type="button" mat-button (click)="onNoClick(createForm)">No Thanks</button>
            <button type="submit" [disabled]="!createForm.valid" mat-button cdkFocusInitial>Send</button>
        </div>
    </mat-card>
</form>